$height: 48vh;
.slider-container {
  position: relative;
  height: calc(100vh - 50px - #{$height/4});

  .slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.sliderPortofolio,
.sliderServices {
  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    position: relative;
    height: 100%;
  }

  &__image-container {
    height: calc(100vh - 50px - #{$height/4});
    width: 100%;

    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .slick-current &__item {
    .borders-left,
    .borders-right {
      height: 100%;
    }
    .borders-top,
    .borders-bottom {
      width: 100%;
    }
  }
  .slick-current &__item &__text {
    opacity: 1;
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }
}

.sliderPortofolio {
  &__text {
    font-family: $font_main;
    font-weight: 700;
    font-size: 40px;
    color: $color_main;
    text-align: left;
    padding: 90px 110px;
    // text-shadow: 2px 2px #ff0000;
    opacity: 0;
    position: relative;
    transition: opacity 0.8s ease 1.6s;
  }
  &__title {
    font-size: 85px;
    text-transform: uppercase;
    line-height: 1;
  }

  @include respond_to(sm) {
    &__title {
      font-size: 40px;
    }
    &__text {
      padding: 20px 60px;
    }
  }
}

// nav slider

$item_width: 36vw;
$item_margins: 3vw;

.sliderPortofolio__nav {
  // height: $height;
  // background-color: $black_bcg;
  margin-left: $item_margins;
  margin-top: 30px;
  margin-bottom: 25px;

  &-item {
    border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    border-top: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: $item_width;
    border-radius: 7px;

    &:hover img {
      transform: scale(1.1);
    }
  }

  &-text {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }

  img {
    object-fit: cover;
    height: $height;
    width: $item_width;
    transition: transform 1s ease;
    border-radius: 7px;
  }

  .slick-slide {
    margin: 0 $item_margins / 2;
    border-radius: 9px;
  }

  .slick-track {
    display: flex;
  }

  @include respond_to(sm) {
    position: relative;
    margin: 15px 0;
    margin-left: 15px;
    height: auto;
    background-color: transparent;
    &-item {
      background-color: $color_main;
      height: 100%;
      border: 0;
      img {
        width: 150px;
        height: 110px;
      }

      &:hover img {
        transform: scale(1);
      }
    }

    .slick-slide {
      margin-left: 5px;
      margin-right: 5px;
    }

    .slick-track {
      display: flex;
    }
  }
}

.sliderServices {
  background: #d8d8d8;

  &__title-absolute {
    position: static;
    z-index: 1;
    top: 190px;
    left: 0;
    right: 0;

    letter-spacing: 2px;

    img {
      width: auto;
      height: 80px;
    }
  }

  &__item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0c0b15;
    opacity: 0.82;
  }
  &__item-sagro:after {
    opacity: 0.32;
  }
  &__text {
    width: 90vw;
    height: calc(100vh - 120px - #{$header_height});
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.8s ease 1.6s;
  }
  &__title {
    font-size: 21px;
    color: #b5e2d2;
    font-weight: 600;
    border-bottom: 1px solid #979797;
    padding-bottom: 15px;
    width: 360px;
    text-align: center;
    margin-top: 130px;
  }
  &__button {
    margin-top: 15px;
  }
  .slider__custom-nav-next {
    right: 7.5vw;
  }
  .slider__custom-nav-prev {
    left: 7.5vw;
  }
}

$height: 36px;

.slider {
  &__custom-nav {
    position: absolute;
    top: calc(50% - #{$height}/ 2);
    height: $height;
    width: $height;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0.3;

    path {
      transition: fill 0.3s ease;
    }
  }
  &__custom-nav-next {
    right: 2.5vw;

    svg {
      margin-left: 3px;
    }
  }
  &__custom-nav-prev {
    left: 2.5vw;

    svg {
      margin-right: 3px;
      transform: rotate(180deg);
    }
  }
  &__custom-nav:hover {
    opacity: 1;
  }
  &__custom-nav:active {
    transform: scale(0.9);
  }
  .slick-slide > div {
    height: 100%;
  }
  .slick-dots {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    z-index: 4;

    button {
      width: 15px;
      height: 6px;
      border-radius: 3px;
      border: 1px solid rgba($color: $color_main, $alpha: 0.3);
      padding: 0;
      transition: all 0.3s ease 0.5s;
    }

    li.slick-active button {
      background-color: rgba($color: $color_main, $alpha: 0.3);
    }
  }
}

@keyframes scaleArrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
