@import "../../../style/variables.scss";

.projall {
  &__section {
    padding: 80px 0;
    border-bottom: 1px solid #1E1E23;
    .row {
      align-items: center;
      display: flex;
    }

    &:nth-child(even) {
      .projall__right {
        order: 1
      }
      .projall__left {
        order: 2
      }
    }
  }
  &__image {
    display: block;

    img {
      width: 100%;
    }
  }
  &__descr {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw;
  }
  &__domain {
    font-weight: 700;
    font-size: 21px;
    color: #1E1E23;
    margin-bottom: 10px;
  }
  &__info {
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #636368;
    padding-top: 10px;
    border-top: 2px solid #1E1E23;
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    color: #2C2C2C;
    letter-spacing: 0.15px;
    text-align: justify;
    line-height: 24.88px;
    margin-top: 60px;
  }

  &__button {
    margin-top: 60px;

    &:hover {
      background-color: $black_bcg;
      span {
        color: #ffff;
      }
      #Path {
        stroke: #ffff;
      }
    }
  }
}



.project {
  background-color: #121212;
  padding-bottom: 20px;

  &__container {
    max-width: 1200px;
    width: 90vw;
    margin: auto;
  }
  &__section {
    padding: 60px 0px;
  }
  &__section-pad0 {
    padding: 0 0px;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.4;
    font-family: $font_advent;
    font-weight: 400;
    letter-spacing: 3px;
    color: #a4a4a4;
  }
  &__title-sub {
    text-transform: none;
    font-family: $font_main;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 70px;
    text-align: center;
    color: #a4a4a4;
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px auto;
    text-align: justify;
    color: #696969;
    width: 70%;
  }
}

.saula {
  &__container-flex {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    .image-container {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .image-container:last-child {
      margin-left: 2px;
    }
  }
  &__container-flex4 {
    grid-template-columns: 1.4fr 1fr;
  }
}
.project.prgisc {
  background-color: #ffff;
}
