.projall {
  &__section {
    border-bottom: 1px solid #1e1e23;
    .row {
      display: flex;
      align-items: center;
    }

    &:nth-child(even) {
      .projall__right {
        order: 1;
      }
      .projall__left {
        order: 2;
      }
    }
  }
  &__image {
    display: block;

    img {
      width: 100%;
    }
  }
  &__descr {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw;
  }
  &__domain {
    font-weight: 700;
    font-size: $fz_sm_title;
    color: $color_black;
    margin-bottom: 10px;
  }
  &__info {
    font-weight: 600;
    font-style: italic;
    font-size: $fz_sm_button;
    color: #636368;
    padding-top: 10px;
    border-top: 2px solid #1e1e23;
  }
  &__text {
    font-weight: 300;
    letter-spacing: 0.15px;
    color: $color_black;
  }

  &__button {
    margin-top: 30px;

    &:hover {
      background-color: $black_bcg;
      span {
        color: #ffff;
      }
      #Path {
        stroke: #ffff;
      }
    }
  }

  @include respond_to(md) {
    &__section {
      .row {
        display: block;
      }
    }
    &__domain {
      margin: 20px 0;
      font-size: $fz_sm_sub_title;
    }

    &__text,
    &__button {
      margin-top: 30px;
    }
  }
}

.project {
  background-color: #121212;
  padding-bottom: 30px;

  &__container {
    max-width: 1200px;
    width: 90vw;
    margin: auto;
  }

  &__section {
    padding-top: 0 !important;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: $font_advent;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 70px;
    color: #a4a4a4;
    margin-bottom: 20px;
  }
  &__title-sub {
    text-transform: none;
    font-family: $font_main;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 70px;
    text-align: center;
    color: #a4a4a4;
  }
  &__text {
    margin: 0 auto;
    margin-bottom: 20px;
    color: #696969;
    width: 70%;
  }

  @include respond_to(sm) {
    &__title {
      margin-bottom: 10px;
      &-sub {
        margin-bottom: 20px;
      }
    }

    &__text {
      width: 100%;
    }
  }
}

.saula {
  &__container-flex {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    .image-container {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .image-container:last-child {
      margin-left: 2px;
    }
  }
  &__container-flex4 {
    grid-template-columns: 1.4fr 1fr;
  }
}
.project.prgisc {
  background-color: #ffff;
}
