@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #ffffff;
  --background-secondary: #1e1e23;
  --foreground-primary: #171717;
  --foreground-secondary: #fbfbfb;
  
  --foreground-accent: #ddb407;
}

body {
  --nav-height: 50px;
}

@media screen and (max-width: 768px) {
  body {
    --nav-height: 60px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground-primary);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
}
