a:focus {
  color: #ffff !important;
  text-decoration: none !important;
}

.logo {
  display: block;
  width: 82px;
  height: 114px;
}

.container {
  max-width: 90vw;
  margin: auto;

  @media (max-width: 768px) {
    max-width: 100vw;
  }
}

.image-container {
  &__image {
    width: 100%;
    cursor: zoom-in;
  }
}

.borders {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: -1;

  &__line {
    position: absolute;
    background-color: $color_cielo-blue;
    transition: width 0.8s ease 1.6s, height 0.8s ease 1.6s;
  }
  &-left {
    left: 0;
    bottom: 0;
    height: 0;
    width: 9px;
  }
  &-top {
    left: 0;
    top: 0;
    width: 0;
    height: 9px;
  }
  &-right {
    top: 0;
    right: 0;
    height: 0;
    width: 9px;
  }
  &-bottom {
    right: 0;
    bottom: 0;
    height: 9px;
    width: 0;
  }
}

.borders.animate {
  .borders-left,
  .borders-right {
    height: 100%;
  }
  .borders-top,
  .borders-bottom {
    width: 100%;
  }
}

h3 {
  font-family: $font_main;
  font-size: $fz_title;
  color: $color_orange;
  text-align: center;
  font-weight: 700;
  margin: 40px 0;

  @include respond_to(sm) {
    font-size: $fz_sm_title;
    margin: 30px 0;
  }
}

.text-center {
  text-align: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $color_hover;
  min-width: 232px;
  height: 61px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  padding: 0 30px;
  padding-left: 50px;
  overflow: hidden;
  border-radius: 3px;

  span {
    line-height: 1.2;
    font-size: $fz_button;
    color: $color_black;
    font-weight: 600;
  }

  &__icon {
    width: 30px;
    line-height: 1.2;
    margin-left: 5px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    svg {
      width: 100%;
    }
  }

  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $color_cielo-blue;
    text-decoration: none !important;
  }
  &:active {
    opacity: 0.8;
  }
}

.button-underline {
  color: $color_black;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 29px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;

  &:after {
    width: 70%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $color_black;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  &:hover {
    color: $color_black;
    text-decoration: none;

    &:after {
      width: 100%;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.grid {
  display: grid;
}

.input-container {
  position: relative;
  margin-bottom: 15px;

  &__input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    height: 54px;
    border-radius: 3px;
    padding: 0 15px;
    color: $color_black;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;

    &:focus {
      border-color: $color_black;
      outline: 0;
    }
  }

  &__input:focus ~ &__label {
    transform: translateY(-17px);
  }

  &__label {
    font-weight: 600;
    font-size: 11px;
    color: #2c2c2c;
    letter-spacing: 0.03px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 5px;
    background-color: #ffff;
    transition: transform 0.3s ease;
  }
}

.input-container.focused .input-container__label {
  border-color: $color_black;
  transform: translateY(-17px);
}
.input-container textarea {
  height: auto;
  padding-top: 30px;

  &::placeholder {
    font-size: 12px;
  }
}

input[type="submit"] {
  background: #1e1e23;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  height: 54px;
  width: 169px;
}
