@import "./variables.scss";

a:focus {
  color: #ffff !important;
}

.logo {
  display: block;
  width: 82px;
  height: 114px;
}

.container {
  max-width: 90vw;
  margin: auto;
}

.image-container {
  &__image {
    width: 100%;
    cursor: zoom-in;
  }
}

.borders {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: -1;

  &__line {
    position: absolute;
    background-color: $color_cielo-blue;
    transition: width 0.8s ease 1.6s, height 0.8s ease 1.6s;
  }
  &-left {
    left: 0;
    bottom: 0;
    height: 0;
    width: 9px;
  }
  &-top {
    left: 0;
    top: 0;
    width: 0;
    height: 9px;
  }
  &-right {
    top: 0;
    right: 0;
    height: 0;
    width: 9px;
  }
  &-bottom {
    right: 0;
    bottom: 0;
    height: 9px;
    width: 0;
  }
}

.borders.animate {
  .borders-left,
  .borders-right {
    height: 100%;
  }
  .borders-top,
  .borders-bottom {
    width: 100%;
  }
}

h3 {
  font-family: $font_main;
  font-size: 45px;
  color: $color_orange;
  text-align: center;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $color_cielo-blue;
  min-width: 200px;
  height: 60px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  padding: 0 30px;
  overflow: hidden;
  border-radius: 3px;

  span {
    line-height: 1.2;
    font-size: 18px;
    color: $color_black;
    font-weight: 600;
  }

  &__icon {
    width: 30px;
    line-height: 1.2;
    margin-left: 5px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    svg {
      width: 100%;
    }
  }

  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $color_orange;
    text-decoration: none !important;
  }
  &:active {
    opacity: 0.8;
  }
}

.button-underline {
  color: $color_black;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 29px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;

  &:after {
    width: 70%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $color_black;
    transition: width .3s ease, opacity .3s ease;
  }
  &:hover {
    color: $color_black;
    text-decoration: none;

    &:after {
      width: 100%;
    }
  }

  &:active {
    opacity: .7;
  }
}

.grid {
  display: grid;
}

.whyUs {
  padding: 110px 0;
  &__title {
    color: $color_black;
  }

  &__grid {
    padding: 110px 0;
    grid-template-columns: repeat(4, minmax(230px, 285px));
    justify-content: space-between;
  }

  &__point {
    font-size: 25px;
    color: $color_orange;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__text {
    font-family: Arial;
    font-size: 16px;
    color: $color_black;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 22px;
  }

  &__subtext {
    font-family: Arial;
    font-size: 16px;
    color: $color_black;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 22px;
    max-width: 400px;
    min-width: 330px;
    margin: auto;
  }

  &__button {
    margin: auto;
    margin-top: 20px;
    background-color: $color_orange;
    width: auto;

    span {
      color: $color_black;
    }
    .button__icon {
      margin-left: 10px;
    }
    &:hover .button__icon {
      transform: translateX(40px);
    }
  }
  &__button:hover {
    background-color: $color_black;
    span {
      color: $color_orange;
    }
  }
}


.homeBlog {
  padding: 50px 0;
  background-color: #F3F3F1;
  &__title {
    font-size: 60px;
    color: #3A3A3A;
    letter-spacing: 2.5px;
    line-height: 83.28px;
    font-weight: 600;
    text-align: left;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}

.map {
  img {
    width: 100%;
  }
}

.input-container {
  position: relative;
  margin-bottom: 15px;

  &__input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    height: 54px;
    border-radius: 3px;
    padding: 0 15px;
    color: $color_black;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
  
    &:focus {
      border-color: $color_black;
      outline: 0;
    }
  }

  &__input:focus ~ &__label {
    transform: translateY(-17px);
  }

  &__label {
    font-weight: 600;
    font-size: 11px;
    color: #2C2C2C;
    letter-spacing: 0.03px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 5px;
    background-color: #ffff;
    transition: transform .3s ease;
  }
}

.input-container.focused .input-container__label {
  border-color: $color_black;
  transform: translateY(-17px);
}
.input-container textarea {
  height: auto;
  padding-top: 30px;

  &::placeholder {
    font-size: 12px;
  }
}

input[type="submit"] {
  background: #1E1E23;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  height: 54px;
  width: 169px;
}
