$font_main: "Open Sans", sans-serif;
$font_advent: "Advent Pro";

// colors

$color_main: #fbfbfb;
$color_orange: #ddb407;
$color_cielo-blue: #b5e2d2;
$color_black: #1e1e23;

$color_hover: $color_orange;

// backgrounds

$black_bcg: #1e1e23;

$header_height: 50px;
$header_bcg: $black_bcg;
