@import "../../style/variables.scss";

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: $header_height;
  background: $header_bcg;

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__link {
    font-family: $font_main;
    font-weight: 300;
    font-size: 14px;
    color: $color_main;
    text-align: left;
    line-height: $header_height;
    transition: color 0.3s ease;
    margin-right: 50px;

    &:hover {
      color: $color_hover;
    }
  }

  &__logo {
    // background-color: $header_bcg;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: $font_advent;
    font-size: 10px;
    // border: 1px solid $color_orange;
    color: $color_orange;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 1.6;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;

    &:hover {
      color: $color_hover;
      text-decoration: none;
    }
  }
}
